h1 {
  color:red;
}

.ariua1{
  margin-left: 20px;

}
.ari{
  width: 400px;
  display: inline-block;
  vertical-align: top;

}

.nentitull-link{
  font-size: 20px;
  color:rgb(32, 33, 34);
}

.ariu11{
  width: 300px;
  height: 300px;
  object-fit:contain;
  display: inline-block;
}
.tekstet{
  color: rgb(32, 33, 34);
  font-size: 18px;
       margin-left: 20px;
      }

.diskutim{     margin-left: 20px;
}
